*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main_container{
    width: 100%;
    height: auto;
    background-color: white;
}
nav{
    width: 100%;
    height: 8rem;
    background-color: white;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top:  2rem;
}

nav .left_nav{
    display: flex;
}
nav .left_nav ul{
    display: flex;
}
nav ul li{
    margin-top: 1.4rem;
}  
nav .left_nav ul li a{

    margin: 1.5rem;
    text-decoration: none;
    color: black;
}
nav .left_nav ul li{
    list-style: none;
}
nav .right_nav ul{
    display: flex;
}
nav .right_nav ul li a{
    margin: 1.5rem;
    text-decoration: none;
    color: black;
}
nav .right_nav ul li{
    list-style: none;
}
nav img{
    width:16rem;
    margin-bottom: 1rem;
    /* height: 40px; */
}
.left_nav ul li:hover{
    border-bottom: 1px solid red;
}
.right_nav ul li:hover{
    border-bottom: 1px solid red;
}

/* side-logo */
.side-logo{
     width: 8rem;
     height: 8rem;
     position: fixed;
     top: 70rem;
     left: 2rem;
     /* right: 3rem; */
     border-radius: 5rem;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.slider-logo{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: url(./Image/slider-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.side-logo img{
    width: 75%;
    height: auto;
    background-position: center;
    object-fit: cover;
}
.side-logo img:hover{
    cursor: pointer;
}
.left_nav img:hover{
    cursor: pointer;
}

/* Section start css */
/* page  */
.page{
    width: 100%;
    height: 61rem;
    background: url(./Image/3_OP11-Buds-Pad-desktop.jpg.thumb.webp);
    background-position: center;
    background-size: cover;
    padding-left: 3.5rem;
}
.page h1{
    font-size: 3.5rem;
    padding-top: 3.5rem;
}
.page p{
    font-size: 1.7rem;
    padding-top: 38rem;
}
.page button{
    width: 13rem;
    height: 3rem;
    color: white;
    font-weight: 500;
    background-color: black;
    border: .1rem solid black;
    border-radius: .2rem;
    margin-top: 2rem;
}
.page a{
    margin-left: 1.3rem;
    color: black;
}
.page h1:hover{
    cursor: pointer;
}
.page p:hover{
    cursor: pointer;
}
.page button:hover{
    cursor: pointer;
    background-color: rgb(75, 70, 70);
}
.page a:hover{
    cursor: pointer;
    color:rgb(98, 98, 215);
}



/* page - 2 */
.page_2{
    width: 100%;
    height: 40rem;
    display: flex;
    padding-top: 7rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 5rem;
}
.left {
    width: 30%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 70%;
    height: 40rem;
}
.right img{
    width: 100%;
    height: auto;
    /* background-image: url(/OnePlus/udon-pc-2.7.jpg.thumb.webp); */
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.text{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}
.text h1{
    font-size: 5rem;
    /* margin-bottom: 210px;  */
}
.text p{
    margin-bottom: 2rem;
}
.text span{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.text span button{
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 48%;
    height: 40px;
    border: 1px solid black;
    border-radius: 2px;
}
.btn1-1{
    color: white;
    background-color: black;
   }
.btn1-1:hover{
     background-color:  rgb(35, 37, 36);
      cursor: pointer;
}
.btn1-2:hover{
    background-color: rgb(221, 215, 215);
    cursor: pointer;
}
.right img:hover{
    transition: all ease-in-out 1s;
    cursor: pointer;
}
/* page - 3 css */

.page_3{
    width: 100%;
    height: 38rem;
    display: flex;
    margin-top: 20rem;
    padding-right: 7rem;
    padding-left: 7rem;
    /* margin-right: 7rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.l_side{
    width: 50%;
    height: 99%;
    display: flex;
    background-color:  #f8f8f8;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.r_side{
    width: 50%;
    height: 99%;
    display: flex;
    background-color:  #f8f8f8;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.t_side{
    width:50% ;
    height: 98%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}
.l_side img{
    width: 50%;
    height: 38rem;
    
}
.r_side img{
    width: 50%;
    height: 38rem;
   
}

.up{
    width: 100%;
    height: 55%;
    padding-bottom: 8rem;
    padding-left: 2rem;
}
.up h6{
    font-size: 2rem;
    font-weight: 500;
}
.up h3{
    font-size: 40px;
    font-weight: 500;
}
.down{
    width: 100% ;
    height: 45%;
    padding-left: 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}
.down p{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}
.down h5{
    margin-bottom: 15;
    font-size: 2rem;
margin-bottom: 2rem;
}
.btn-set{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down span button{
    width: 15rem;
    height: 3.5rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom:2rem;
    font-size: 1.5rem;
}
 .bar{
    padding-top: 7rem;
    font-size: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.bar p{
    margin-bottom: 1rem;
 }
.l_side img:hover{
    cursor: pointer;
    transition: all ease-in-out;
    transform: scale(110%);
}
.r_side img:hover{
    cursor: pointer;
    transition: all ease-in-out;
    transform: scale(110%);
}

 /* Page - 4 style */
 .page_4{
    width: 100%;
    height: 35rem;
    padding-left: 7rem;
    padding-right: 7rem;
 }
 .top{
    width: 100%;
    height: auto;
    display: flex;
 }
 .top ul{
    display: flex;
    padding-top: 3rem;
   
 }
 .top ul li a{
     text-decoration: none;
     font-size: 2rem;
     color: black;
     margin: 2.5rem;
 }
 .top ul li {
    list-style: none;
 }
 .top ul li:hover{
    cursor: pointer;
    border-bottom:2px solid red;
 }
 .bottom{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 3rem;
 }
 .img1{
    width: 25%;
    height: auto;
    margin-right: 2rem;
}
 .img2{
    width: 25%;
    height: auto;
    margin-right: 2rem;
 }
 .img3{
    width: 25%;
    height: auto;
    margin-right: 2rem;
 }
 .img4{
    width: 25%;
    height: auto;
 }
 .image{
    background-color: #f8f8f8;
    margin-bottom: 2rem;

 }
 .image img{
    width: 100%;
    height: 25rem;
 }
 .des{
    height:15rem;
    display: flex;
    flex-direction: column;

 }
 .des h4{
    font-size: 2.7rem;
    font-weight: 400;
 }
 .des p{
    font-size: 1.8rem;
    padding-top: 2rem;
 }
#contain-1 h4{
   padding-top:3rem ;
}
#contain-1 p{
    padding-top: 3rem;
}
#contain-2 h4{
   padding-top: 3rem;
}
#contain-2 p{
   padding-top: 2.5rem;
} 
#contain-3 h4{
    padding-top: 2.4rem;
}
#contain-4 h4{
    padding-top: 2rem;
}
#contain-4 .display-btn{
    padding-top: 11.3rem;

}
  .para{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 23rem;
    /* margin-top: 25rem; */
    padding-bottom: 4rem;
    margin-top: 5rem;
  }
  
  .image:hover{
    cursor: pointer;
    /* transition: all ease-in-out ;
    transform: scale(120%); */
  }
  .display-btn{
    width: 100%;
    height: 10rem;
   
  }
  .display-btn button{
    width: 100%;
    height: 3.5rem;
    border: none;
    margin-top: .2rem;
    background-color: transparent;
    display: flex;
    align-items: start;

  }
.para p:hover{
    cursor: pointer;
}

  /* black part */
.container{
    width: 100%; 
    height: auto;
    background-color: black;
  
}
.container h1{
    color: white;
    font-size: 5rem;
    padding-top: 3rem;
    padding-left: 7rem;
}
.container h1 span:hover{
    cursor: pointer;
}
.one{
    width: 100%;
    height: 38rem;
    display: flex;
    padding-left: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pic{
    width:65%;
    height: 38rem;
    display: flex;
    /* background: url(/OnePlus/20230406-keyboard-pc.jpg.thumb.webp) ; */
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
}
.pic img{
    width: 100%;
    height: auto;
}
.pic img:hover{
    cursor: pointer;
}
.text_slide{
    width: 30%;
    height: 38rem;
    color: white;
    padding-left: 2rem;
    padding-top: 3rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.text_slide h6{
    font-size: 2.5rem;
    padding-top: .2rem;
}
.text_slide h2{
    font-size: 1.8rem;
    padding-top: 1.5rem;
}
.text_slide p{
    font-size: 1.6rem;
    padding-top: 13rem;
    padding-bottom: 3rem;
}
.text_slide a{
    color: white;
    font-size: 2rem;
    /* text-decoration: none; */
}
.text_slide a:hover{
    cursor: pointer;
    color: blue;
}

/* two design */
.two{
    width: 100%;
    height: 70rem;
    
}
.two h1{
    font-size: 5rem;
    padding-top: 4rem;
}
.two h2{
    color: white;
    font-size: 4rem;
    padding-left: 7rem;
    padding-top: 4rem;
}
.pic_two{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 5rem;
}




/* Four Div Design  */

.first{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 1.4rem;
}
#up{
    width: 100%;
    height: 100%;
}
#up h5{
    font-size: 2.5rem;
    color: #504848;
    margin-bottom: 1rem;
}
#up h3{
    font-size: 2rem;
    font-weight: 500;
}
.first p{
    font-size: 1.4rem;
}
.first a{
    padding-top: 2.5rem;
    color: white;
    font-size: 1.5rem;
}
.first a:hover{
    cursor: pointer;
    color: blue;
}
.bar{
    color: white;
 }
.three{
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
}
.pic_three{
    width: 100%;
    height: auto;
    display: flex;
}
#pic{
    padding-left: 7rem;
}
.left-img , .right-img{
    background-color: transparent;
}
.left-img img{
    width: 50%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-img img{
    width: 50%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* white container design  */
.container_two{
    width: 100%;
    height: 100vh;
}
.w_one{
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
}
.w_one span{
    display: flex;
    justify-content: space-between;
    color: black;
}
.pic_four{
    width: 100%;
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pic_four .pic{
    width: 66.5%;
    height: 50rem;
}
.pic_four .text_slide{
    color: black;
}
.pic_four a{
    color: black;
}
.text_slide1{
    width: 30%;
    height: 85%;
    color: black;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}
.p-a{
    width: 100%;
    height: 8rem;
    margin-top: 13rem;
}
.text_slide1 h6{
    font-size: 2rem;
    padding-top: .2rem;
}
.text_slide1 h2{
    font-size: 4rem;
    padding-top: 1.5rem;
}
.text_slide1 p{
    font-size: 1.5rem;
}
.text_slide1 a{
    color: black;
    font-size: 2rem;
    margin-top: 6rem;
    /* text-decoration: none; */
}
.text_slide1 a:hover{
    cursor: pointer;
    color: blue;
}
.pic{
    width: 65%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piv img{
    width: 100%;
    height: 100%;
}


/* three pic design */
.three-pic{
    width: 100%;
    height: 50rem;
    display: flex;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.div1{
    width: 31%;
    height: 100%;
    margin-bottom: 2rem;
}
.div1 h3{
    font-size: 2rem;
}
.div1 p{
    font-size: 1.4rem;
}
.div1 a{
    font-size: 1.6rem;
}
.image1{
    width: 100%;
    height: 35rem;
    background: url(./Image/card1pc.jpg.thumb.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
   
}
.image2{
    width: 100%;
    height: 35rem;
    background: url(./Image/card2pc.jpg.thumb.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}
.image3{
    width: 100%;
    height: 35rem;
    background: url(./Image/card3pc.jpg.thumb.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.text1{
    width: 100%;
    height: 18rem;
    padding-top: 2.3rem;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}
.text1 h3{
    font-size: 2.4rem;
    padding-bottom: 2rem;
}
.text1 p{
    padding-bottom: 2rem;
}
.text1 a{
    color: black;
}
.image1:hover{
    cursor: pointer;
}
.image2:hover{
    cursor: pointer;
}
.image3:hover{
    cursor: pointer;
}
.text1 a:hover{
    cursor: pointer;
    color: blue;
}

/* support section design */
.support{
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    padding-bottom: 7rem;
}
.support-sec{
    width: 100%;
    height: 98%;
    display:  flex;
    padding-inline: 6rem;
    align-items: center;
    justify-content: center;
}
.support-part-content{
    width: 98%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.support_part{
    width: 50%;
    height: 95%;
    display: flex;
     background-color: #f8f8f8;
   }
.s-img1{
    width: 100%;
    height: 100%;
    background: url(./Image/Helpdesk-PC.jpg.thumb.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.s-img1:hover{
    cursor: pointer;
}
.s-img2{
    width: 100%;
    height: 100%;
    background: url(./Image/Service-Center-desktop.jpg.thumb.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
    .s-img2:hover{
        cursor: pointer;
    }
#s-text1{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5rem;
}
#s-text1 h6{
    font-size: 2rem;
    color: #706767;
}
#s-text1 h4{
    font-size: 2.5em;
}
#s-text1 p{
    font-size: 1.5rem;
}
#s-text1 a{
    color: black;
    font-size: 1.5rem;
}
#s-text1 a:hover{
    color: blue;
    cursor: pointer;
}

#s-text2{
    width: 50%;
    height:auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}
#s-text2 h6{
    font-size: 2rem;
    color: #706767;
}
#s-text2 h4{
    font-size: 2.5rem;
}
#s-text2 p{
    font-size: 1.5rem;
}
#s-text2 a{
    color: black;
    font-size: 1.5rem;
}
#s-text2 a:hover{
    color: blue;
    cursor: pointer;
}
/* four border design */

.border{
    width: 100%;
    height: 8rem;
    padding-left: 7rem;
    padding-right: 7rem;
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-border{
    width: 100%;
    height:7rem;
    border-bottom: .1rem solid rgb(226, 222, 222);
    border-top: .1rem solid rgb(226, 222, 222);
    display: flex;
}
.border span{
    width: 25%;
    font-size: 2rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 1rem;
} 
.main-border span:first-child{
    border-right: .1rem solid rgb(226, 222, 222);
}
.main-border span:nth-child(2){
    border-right: .1rem solid rgb(226, 222, 222);
}
.main-border span:nth-child(3){
    border-right: .1rem solid rgb(226, 222, 222);
}
.main-border span:hover{
    cursor: pointer;
}


/* one plus official div */
.black-slide{
    width: 100%;
    height: 50rem;
    background-color: black;
    /* padding-top: 4rem; */
    padding-inline: 7rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.black-slide #p{
    font-size: 2.5rem;
    color: white;
    border-bottom: .1rem solid white;
}
.sides{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.left-side{
    width: 48%;
    height: 75%;
    background-image: url(./Image/APPdownload_PC_Red_New.png.thumb.webp);
    background-size: cover;
    background-position: center;
    /* padding: 2rem; */
}
.right-side{
    width: 48%;
    height: 75%;
    background-image: url(./Image/Subscribe-PC-2card.jpg.thumb.webp);
    background-position: center;
    background-size: cover;
}
.left-text{
    width: 40%;
    height: 98%;
    color: white;
    padding: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.right-text{
    width: 40%;
    height: 98%;
    color: white;
    padding: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.left-text h3{
    font-size: 2.2rem;
    color: white;
    font-weight: 500;
}
.left-side h6{
    font-size: 1.4rem;
    color: white;
}
.left-side button{
    width: 100%;
    height: 4rem;
    background-color: transparent;
    border: .1rem solid white;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.right-side h3{
    color: white;
    font-size: 2.2rem;
    font-weight: 500;
    padding-top: 1rem;
}
.right-side h6{
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
}
.right-side p{
    color: rgb(120, 110, 110);
    font-size: 1.6rem;
}
.right-side .right-text button{
    width: 100%;
    height: 4rem;
    background-color: transparent;
    border: .1rem solid white;
    color: white;
    font-size: 1.6rem;
    /* margin-top: .8rem; */
}
.right-text button:hover{
    cursor: pointer;
}
/* end design  */

.end-sec{
    width: 100%;
    height: 60rem;
    background-color: white;
    display: flex;
    padding: 3rem;
}
.phone{
    width: 20%;
    height: 100%;
    padding: 1.3rem;
}
.phone h6{
    font-size: 2rem;
    font-weight: 500;
}
.phone ul{
    width: 98%;
    height: 90%;
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
    cursor: pointer;
    }


.phone ul li a{
    text-decoration: none;
    color:rgb(160, 150, 150);
    font-weight: 900;   
}


.store{
    width: 20%;
    height: 100%; 
}
.store h6{
    font-size: 2rem;
    font-weight: 500;   
}
.store ul{
    width: 98%;
    height: 90%;
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:3rem;
    cursor: pointer;
}
.store ul li a{
    text-decoration: none;
    color:rgb(160, 150, 150);
    font-weight: 900;
   
}




.support-s{
    width: 20%;
    height: 100%; 
}
.support-s h6{
    font-size: 2rem;
    font-weight: 500;   
}
.support-s ul{
    width: 98%;
    height: 90%;
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
    cursor: pointer;

}
.support-s ul li a{
    text-decoration: none;
    color:rgb(160, 150, 150);
    font-weight: 900;
}

.Explore{
    width: 20%;
    height: 100%; 
}
.Explore h6{
    font-size: 2rem;
    font-weight: 500;   
}
.Explore ul{
    width: 98%;
    height: 90%;
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
    cursor: pointer;
}

.Explore ul li a{
    text-decoration: none;
    color:rgb(160, 150, 150);
    font-weight: 900;
}

.programs{
    width: 20%;
    height: 40%; 
}
.programs h6{
    font-size: 2rem;
    font-weight: 500;   
}
.programs ul{
    width: 98%;
    height: 50%;
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
    cursor: pointer;
}

.programs ul li a{
    text-decoration: none;
    color:rgb(160, 150, 150);
    font-weight: 900;
   
}

/* hover property */
.phone ul li a:hover{
    color: black;
}

.store ul li a:hover{
    color: black;
}

.support-s ul li a:hover{
    color: black;
}

.Explore ul li a:hover{
    color: black;
}

.programs ul li a:hover{
    color: black;
}


/* contact section */

.contact{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  border-bottom: .1rem solid rgb(160, 150, 150);
}
#list{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color:rgb(160, 150, 150);
    font-size: 1.7rem;
}
#icon{
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    color: rgb(160, 150, 150);
    font-size: 1.7rem;
    list-style: none;
}
#icon li a{
    color: rgb(42, 125, 169);
    font-size: 2rem;
    text-decoration: none;
}
.ic{
 border-radius: none;
 font-size: 2.5rem;
 cursor: pointer;
}
.ic:hover{
    color: black;
}

/* footer */

footer{
    width: 100%;
    height: 12rem;
   
}
.first-line{
    width: 100%;
    height: 10rem;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}
.btn button:hover{
    cursor: pointer;
}
.btn{
    width: 60%;
    height: 4rem;
    padding-left: 10rem;
}
.btn button{
    width: 30%;
    height: 10rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}
.list-end{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10rem;
    list-style: none;
}
.list-end li a{
    color: black;
    font: .6rem;
    text-decoration: none;

}

.second-line{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 5rem;
}
.second-line span img:hover{
    cursor: pointer;
}
.menu-bar{
    display: none;
}






@media (max-width:768px) {
    html{
        font-size: 40%;
    }
    .main_container{
        width:100%;
        height:auto;
    }    
    .main_container nav{
        width: 100%;
        height: 9rem;
        padding-inline: 3rem;
    }
    .left_nav img{
        width: 80%;
        height: 70%;
    }
    .none a i{
        font-size: 2.4rem;
    }
    .page_2{
        width: 100%;
        height: 90rem;
        align-items: center;
        flex-direction: column-reverse;
    }
    .page_2 .left{
        width: 100%;
        height: 40%;
    }
    .page_2 .right{
        width: 100%;
        height: 60%;
    }
    .page_3{
        width: 100%;
        height: 90rem;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: .5rem;
        justify-content: space-around;
    }
    .page_3 .l_side{
        width: 100%;
        height: 48%;
    }
    .page_3 .r_side{
        width: 100%;
        height: 48%;
    }
    .page_4 {
        display: none;
    }
    .para{
        padding: 0px;
        margin-top: 2rem;
    }
    .para p{
        font-size: 2rem;
    }
    .bar{
        padding-top: 2px;
    }
    .container{
        width: 100%;
        height: auto;
        padding-block: 3rem;
        margin-top: 2rem;
    }

    .left_nav ul li{
        display: none;
    }
    .right_nav ul li{
        display: none;
    }
    .right_nav ul .none{
        display: inline;
        font-size: 3rem;
    }
    .menu-bar{
        display: inline;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left_nav{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left_nav img{
        width: 70%;
    }
    .container_two{
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }
}